p {
  margin: 0;
}

.title {
  font-weight: 600;
  font-size: 42px;
  font-family: Poppins, sans-serif;
  text-align: center;
  letter-spacing: 0px;
  color: #401b5a;
  opacity: 1;
}

.main-text {
  width: 893px;
  margin: 0 auto 150px;
  font-weight: 300;
  font-size: 16px;
  font-family: Poppins, sans-serif;
  text-align: center;
  letter-spacing: 0.32px;
  color: #232e4d;
  opacity: 1;
}
br {
  margin-bottom: 20px;
  display: block;
  content: " ";
}

#rotatingDiv {
  position: relative;
  width: 400px;
  height: 400px;
  margin: 0 auto 200px;
}

.rotating-div {
  width: 40px;
  height: 40px;
  background-color: #57007d;
  position: absolute;
  border-radius: 50%;
}

.number {
  margin-left: 40px;
  font-weight: 600;
  font-size: 25px;
  font-family: Poppins, sans-serif;
  text-align: left;
  letter-spacing: 2.11px;
  color: #951c81;
  opacity: 1;
}

.item-container {
  display: none;
}

.item-container.visible {
  display: block;
  width: 400px;
  font-family: Poppins, sans-serif;
  text-align: left;
  opacity: 1;
}

.item-title {
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 3.16px;
  color: #401b5a;
}

.item-text {
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 1.5px;
  color: #232e4d;
}

.planet {
  position: absolute;
  width: 300px;
  height: 300px;
}
